In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("../data/survey.csv")

# Pre process how old are you (already done)

In [19]:
df["how_old_are_you"].dtype

dtype('O')

In [5]:
df["how_old_are_you"].nunique()

7

In [15]:
df["how_old_are_you"] = pd.Categorical(
    df["how_old_are_you"],
    ordered=True,
    categories=[
        "under 18",
        "18-24",
        "25-34",
        "35-44",
        "45-54",
        "55-64",
        "65 or over"
    ]
)

In [16]:
df["how_old_are_you"].dtype

CategoricalDtype(categories=['under 18', '18-24', '25-34', '35-44', '45-54', '55-64',
                  '65 or over'],
, ordered=True)

In [17]:
df.to_csv("../data/survey.csv")

# Pre process country (already done)

In [8]:
def harmonize_usa_name(x):
    particular_name = [
        "US", "usa", "us", "America", "US of A", "United Status", "The US",
        "ðŸ‡ºðŸ‡¸", "USaa", "USA, but for foreign gov't", "I work for a UAE-based organization, though I am personally in the US.",
        "USA tomorrow", "USD",
        "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
        "Worldwide (based in US but short term trips aroudn the world)",
        "U.S.A.", "USS", "U.S", "U.S.A", "bonus based on meeting yearly goals set w/ my supervisor",
        "USA (company is based in a US territory, I work remote)", "USAB", "US govt employee overseas, country withheld",
        "Usa", "United states", "ISA", "United State", "Us", "United Stated", "u.s.",
        "UNITED STATES", "united States", "Contracts", "United Statws", "Unites States", "U. S.",
        "United Sates", "Uniited States", "Unted States", "United Stattes", "United Statea",
        "United Satees", "UNited States", "Uniyed states", "Uniyes States", "U.A.", "United Statees",
        "Currently finance", "UXZ", "U.s.", "U.s.a.", "Uniteed States", "Hartford", "United Stares",
        "I.S.", "Unites states", "Unite States", "IS", "UnitedStates", "United statew", "International",
        "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission.",
        "United Statues", "Untied States", "Unitied States", "United Sttes", "united stated",
        "I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered.",
        "Uniter Statez", "U. S", "United Stateds", "U. S", "San Francisco", "Usat", "Unitef Stated", "UA", "United STates",
        "uSA", "america", "Y", "United y", "California", "uS", "United Statss", "United states of america",
        "UsA", "United  States"
    ]
    other_particular_name = {
        "I am located in Canada but I work for a company in the US": "Canada",
        "Canada and USA": "Canada",
        "Austria, but I work remotely for a Dutch/British company": "Austria",
        "Japan, US Gov position": "Japan",
        "I work for an US based company but I'm from Argentina.": "Argentina",
        "australia": "Australia",
        "Australi": "Australia",
        "Australian": "Australia",
        "From Romania, but for an US based company": "Romania",
        "UK for U.S. company": "United Kingdom", 
        "UK": "United Kingdom",
        "The Netherlands": "Netherlands",
        "England": "United Kingdom",
        "finland": "Finland",
        "Uk": "United Kingdom",
        "canada": "Canada",
        "Scotland": "United Kingdom",
        "Great Britain": "United Kingdom",
        "netherlands": "Netherlands",
        "Northern Ireland": "United Kingdom",
        "England/UK": "United Kingdom",
        "England, UK.": "United Kingdom",
        "Britain": "United Kingdom",
        "Canada, Ottawa, ontario": "Canada",
        "Global": "Canada",
        "FRANCE": "France",
        "United Kingdom (England)": "united Kingdom",
        "CANADA": "Canada",
        "Canadw": "Canada",
        "ireland": "Ireland",
        "germany": "Germany",
        "United Kingdom.": "United Kingdom",
        "United kingdom": "United Kingdom",
        "Can": "Canada",
        "united Kingdom": "United Kingdom",
        "Czech republic": "Czech Republic",
        "Czechia": "Czech Republic",
        "U.K.": "United Kingdom",
        "United Kindom": "United Kingdom",
        "czech republic": "Czech Republic",
        "England, UK": "United Kingdom",
        "Canda": "Canada",
        "Catalonia": "Spain",
        "$2,175.84/year is deducted for benefits": "Canada",
        "uk": "United Kingdom",
        "Italy (South)": "Italy",
        "Jersey, Channel islands": "United Kingdom",
        "New Zealand Aotearoa": "New Zealand",
        "Csnada": "Canada",
        "New zealand": "New Zealand",
        "Mainland China": "China",
        "UK (Northern Ireland)": "United Kingdom",
        "NZ": "New Zealand",
        "Canad": "Canada",
        "United Kingdomk": "United Kingdom",
        "Cote d'Ivoire": "Ivory Coast",
        "united kingdom": "United Kingdom",
        "Wales (United Kingdom)": "United Kingdom",
        "England, Gb": "United Kingdom",
        "spain": "Spain",
        "Danmark": "Denmark",
        "U.K. (northern England)": "United Kingdom",
        "U.K": "United Kingdom",
        "NL": "Netherlands",
        "the Netherlands": "Netherlands",
        "Nederland": "Netherlands",
        "England, United Kingdom": "United Kingdom",
        "Englang": "United Kingdom",
        "UAE": "United Arab Emirates",
        "The Bahamas": "Bahamas",
        "Wales": "United Kingdom",
        "denmark": "Denmark",
        "UK (England)": "United Kingdom",
        "UK, remote": "United Kingdom",
        "Scotland, UK": "United Kingdom",
        "Remote (philippines)": "Philippines",
        "Unites kingdom": "United Kingdom",
        "South africa": "South Africa",
        "england": "United Kingdom",
        "SWITZERLAND": "Switzerland",
        "Congo": "Democratic Republic Of Congo",
        "Brasil": "Brazil",
        "n/a (remote from wherever I want)": "France",
        "singapore": "Singapore",
        "new zealand": "New Zealand",
        "Wales, UK": "United Kingdom",
        "The netherlands": "Netherlands",
        "switzerland": "Switzerland",
        "From New Zealand but on projects across APAC": "New Zealand",
        "Wales (UK)": "United Kingdom",
        "Isle of Man": "United Kingdom",
        "Northern Ireland, United Kingdom": "United Kingdom",
        "europe": "Czech Republic",
        "UK, but for globally fully remote company": "United Kingdom",
        "MÃ©xico": "Mexico",
        "the netherlands": "Netherlands",
        "japan": "Japan",
        "ARGENTINA BUT MY ORG IS IN THAILAND": "Argentina",
        "france": "France"
    }
    if x in particular_name :
        return "USA"
    elif x in other_particular_name.keys():
        return other_particular_name[x]
    elif ("U.S" in x and len(x) <=5):
        return "USA"
    elif "united states" in x or "United States" in x:
        return "USA"
    elif "United" in x and "America" in x:
        return "USA"
    elif "USA--" in x:
        return "USA"
    elif x=="I am located in Canada but I work for a company in the US":
        return "Canada"
    else:
        return x

In [9]:
def change_remote(x, y):
    if x == "Remote" and y == "GBP":
        return "United Kingdom"
    elif x == "Remote" and y == "USD":
        return "USA"
    else:
        return x

In [94]:
df["country"] = df["country"].apply(harmonize_usa_name)

In [108]:
df["country"] = df.apply(lambda x: change_remote(x["country"], x["currency"]), axis=1)

In [10]:
df["country"].nunique()

93

In [11]:
df["country"].unique()

array(['USA', 'United Kingdom', 'Canada', 'Netherlands', 'Australia',
       'Spain', 'Finland', 'France', 'Germany', 'Ireland', 'India',
       'Argentina', 'Denmark', 'Switzerland', 'Bermuda', 'Malaysia',
       'Mexico', 'South Africa', 'Belgium', 'Sweden', 'Hong Kong',
       'Kuwait', 'Norway', 'Sri lanka', 'Greece', 'Japan', 'Austria',
       'Brazil', 'Hungary', 'Luxembourg', 'Colombia', 'New Zealand',
       'Trinidad and Tobago', 'Cayman Islands', 'Czech Republic',
       'Latvia', 'Puerto Rico', 'Rwanda', 'United Arab Emirates',
       'Bangladesh', 'Romania', 'Serbia', 'Philippines', 'Russia',
       'Poland', 'Turkey', 'Italy', 'China', 'Virginia', 'Afghanistan',
       'Israel', 'Taiwan', 'Cambodia', 'Vietnam', 'Singapore',
       'South Korea', 'Thailand', 'Lithuania', 'Eritrea', 'Indonesia',
       'Cuba', 'Slovenia', 'Ivory Coast', 'Somalia', 'Sri Lanka',
       'Slovakia', 'Portugal', 'Sierra Leone', 'Bahamas', 'Costa Rica',
       'Chile', 'Qatar', 'Nigeria', 'PanamÃ¡',
       'Democratic Republic Of Congo', 'Uruguay', 'Pakistan', 'Uganda',
       'Malta', 'Saudi Arabia', 'Bulgaria', 'Estonia', 'Morocco',
       'Africa', 'Ecuador', 'Zimbabwe', 'Ghana', 'Luxemburg', 'Croatia',
       'Ukraine', 'Jamaica', 'Kenya', 'Jordan'], dtype=object)

In [12]:
df.to_csv("../data/survey.csv")

# Preprocessing industry

In [21]:
df["industry cluster tf_idf_bigrams"].nunique()

21

# Preprocess gender (already done)

In [14]:
df["gender"].nunique()

4

In [12]:
df["gender"] = df["gender"].fillna("Prefer not to answer")
df["gender"] = df["gender"].apply(lambda x: "Prefer not to answer" if x == "Other or prefer not to answer" else x)

In [13]:
df["gender"].unique()

array(['Woman', 'Non-binary', 'Man', 'Prefer not to answer'], dtype=object)

In [36]:
df["gender"] = pd.Categorical(df["gender"], ordered=False)

In [37]:
df["gender"].unique()

['Woman', 'Non-binary', 'Man', 'Prefer not to answer']
Categories (4, object): ['Man', 'Non-binary', 'Prefer not to answer', 'Woman']

In [38]:
df.to_csv("survey.csv")

# Preprocess race

In [44]:
df["race"].nunique()

6

In [23]:
df["race"].fillna("Prefer not to answer", inplace=True)

In [24]:
df["race"] = df["race"].apply(lambda x: "Prefer not to answer" if "prefer not to answer" in x else x)

In [43]:
df["race"].replace("Asian or Asian American", "Asian", inplace=True)
df["race"].replace("Black or African American", "Black", inplace=True)
df["race"].replace("Hispanic, Latino, or Spanish origin", "Hispanic", inplace=True)
df["race"] = df["race"].apply(lambda x: "Prefer not to answer" if "Black" in x and "White" in x else x)
df["race"] = df["race"].apply(lambda x: "Asian" if x == "Asian or Asian American, White" and len(x.split("or ")) == 2 else x)
df["race"] = df["race"].apply(lambda x: "Hispanic" if x == "Hispanic, Latino, or Spanish origin, White" and len(x.split("or ")) == 2 else x)
df["race"] = df["race"].apply(lambda x: "Arabic" if x == "Middle Eastern or Northern African, White" or x == "Middle Eastern or Northern African" else x)
df["race"] = df["race"].apply(lambda x: "White" if x == "Native American or Alaska Native, White" else x)
df["race"] = df["race"].apply(lambda x: "Prefer not to answer" if len(x.split(",")) >= 2 or len(x.split("or ")) >= 2 else x)

## groupby race to see the number of person

In [45]:
race_groupby = df[["annual_salary", "race"]].groupby("race").count().sort_values("annual_salary",ascending=False)
race_groupby

                      annual_salary
race
White                         21974
Asian                          1544
Prefer not to answer           1091
Hispanic                        872
Black                           618
Arabic                          133

In [62]:
race_groupby.shape

(36, 1)

In [32]:
test = "Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White"
test.split(",")

['Asian or Asian American',
 ' Hispanic',
 ' Latino',
 ' or Spanish origin',
 ' Native American or Alaska Native',
 ' White']

In [49]:
df.to_csv("../data/survey.csv")

In [48]:
df.drop(["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.1.1", "Unnamed: 0.1.1.1"], axis=1, inplace=True)

# Preprocess annual_salary based on currency

# Convert some object data type to categorical data type

In [50]:
df["how_old_are_you"] = pd.Categorical(
    df["how_old_are_you"],
    ordered=True,
    categories=[
        "under 18",
        "18-24",
        "25-34",
        "35-44",
        "45-54",
        "55-64",
        "65 or over"
    ]
)

In [ ]:
df["overall_years_of_professional_experience"] = pd.Categorical(
    df["overall_years_of_professional_experience"],
    ordered=True,
    categories=[
        "1 year or less",
        "2 - 4 years",
        "5-7 years",
        ""
    ]
)